html {
	background-color: grey;
}
#topic {
	overflow: hidden;
	font-size: 40px;
}
#navbar {
  position: fixed;
 max-width: 250px;
 height: 100%;
 z-index: 1;
 top: 0;
 overflow-x: hidden;
}
#navbar a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 20px;
	margin-right: 5px;
	font-family: sans-serif;
	border: solid;
	border-color: white;
	border-width: 1px;
	width: 100%;
	right: 23px;
	position: relative;
}
ul {
	display: inline-block;
	text-align: left;
}
#main-doc {
	text-align: left;
margin-left: 250px;
}
section > header {
	text-align: center;
	font-weight: 800;
	font-size: 25px;
}
p {
	font-size: 18px;
}
#typeList {
	font-size: 17px;
	position: relative;
	right: 40px;
	top: 10px;
	text-align: left;
}
code {
	display: block;
	text-align: center;
	font-size: 16px;
}
@media screen and (max-width: 480px) {
	#navbar {
		width: 100px;
	}
	#main-doc {
		margin-left: 100px;
	}
	#topic {
		font-size: 15px;
	}
	p {
		font-size: 14px;
	}
	#navbar a {
		font-size: 12px;
	}
}